.click{
    color: blue;
    background-color: palegoldenrod;
}
body{
    background-color: blanchedalmond;
}
.dblclick{
    color: red;
}
input{
    color: blueviolet;
    border: 5px 5px 5px 5px greenyellow;
}